*{
    padding: 0;
    margin: 0;
}
.m-ul{
    display: flex;
    list-style: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
.m-ul .m-li{
    flex:1;
    text-align: center;
}
.active{
    color: red;
}